/resources/*.rpm
/resources/*.tgz
/resources/*.ipk
/resources/*.opk
/resources/*.pkg
**/*.iml
*.iml
.idea
/target
*/*/target
*/*/src/main/dist/xbin-*/*
*/*/src/main/dist/xbin/*
*/*/src/main/dist/*.tar.*
*/*/src/main/dist/*.tgz
*/*/src/main/dist/*.zip
